* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --negro : #2B2B2B;
    --blanco : #E0E0E0;
}

html {
    background-color: var(--negro);
    color: var(--blanco);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container-box {
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
}

ul a {
    color: var(--blanco);
    text-decoration: none;
    padding: 5px;
}

nav a:nth-of-type(2) {
    background-color: #FF4949;
    border-radius: 4px;
}